.animationArea {
  background: transparent;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.boxArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.boxArea li {
  position: absolute;
  display: block;
  list-style: none;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 15s linear infinite;
  bottom: -150px;
}
.boxArea li:nth-child(1) {
  left: 86%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
}
.boxArea li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1s;
  animation-duration: 8s;
}
.boxArea li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}
.boxArea li:nth-child(4) {
  left: 42%;
  width: 40px;
  height: 40px;
  animation-delay: 1s;
  animation-duration: 7s;
}
.boxArea li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 7s;
}
.boxArea li:nth-child(6) {
  left: 40%;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px;
  animation-delay: 1s;
  animation-duration: 8s;
}
.boxArea li:nth-child(7) {
  left: 35%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 5s;
}
.boxArea li:nth-child(8) {
  left: 15%;
  width: 50px;
  height: 50px;
  animation-delay: 1s;
  animation-duration: 6s;
}
.boxArea li:nth-child(9) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 8s;
}
.boxArea li:nth-child(10) {
  left: 10%;
  width: 25px;
  height: 25px;
  animation-delay: 1s;
  animation-duration: 10s;
}
.boxArea li:nth-child(11) {
  left: 47%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
