@import url('https://rsms.me/inter/inter.css');

html,
body {
  margin: 0;
  font-family: 'Inter';
  font-weight: 300;
  background-color: #0e161e;
  line-height: 'calc(1em + 0.625rem)';
  scroll-behavior: smooth;
  letter-spacing: 0.01rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Inter';
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
}
