html,
body {
  margin: 0;
  font-family: "Wotfard",Futura,-apple-system,sans-serif;
  font-weight: 300;
  background-color: #0e161e;
  line-height: 'calc(1em + 0.625rem)';
  scroll-behavior: smooth;
  letter-spacing: 0.01rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Wotfard",Futura,-apple-system,sans-serif;

}

* {
  box-sizing: border-box;
  font-family: "Wotfard",Futura,-apple-system,sans-serif;
}

:root {
  --clr-neon:#FFBCD9;
  --clr-bg:hsl(323 21% 16%)
}

/* #ff61be */

h1,h2,h3,h4,h5 {
  font-family: "Wotfard",Futura,-apple-system,sans-serif;
}

p {
  font-family: "Wotfard",Futura,-apple-system,sans-serif;
}

.body1 {
  font-family: "Wotfard",Futura,-apple-system,sans-serif;

}